.footer {
    background-color: grey;
    color: white;

    @media @max500 {
        padding: 0px 5%;
    }

    .top-foot{
        display: flex;
        width: 100%;
        height: 200px;
        padding: 50px 0px 30px;
        justify-content: space-evenly;

        @media @max500{
            flex-direction: column;
            height: 100%;
        }

    }

    .copyright {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;

        @media @max500 {
            justify-content: flex-start;
        }
    }

    .user-interest {
        display: flex;
        flex-direction: column;
    }
    
    .fl {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @media @max500 {
            height: 200px;
        }
    }

    .cali{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @media @max500 {
            height: 200px; 
        }
    } 

    .ny {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @media @max500 {
            height: 200px;
        }
    }

    .talk {
        padding: 20px 0px;
    }

    h4 {
        font-size: 1.6rem;
        font-weight: bold;

        @media @max500 {
            font-size: 1.8rem;
        }
    }

    input {
        padding: 10px 0px 10px 5px;
        border-radius: 8px;
        color: grey;

        @media @max500 {
            width: 90%;
        } 
    }
}