.home-page-title{
    background-image: url('../img/home/home-jumbotron.png');
    background-size: cover;
    padding: 800px 0px 100px 18%;

    h2 {
        font-weight: bold;
        font-size: 4rem;
        color: rgb(255, 255, 255);
    }
}

.reverse-content{

    

    .content {
        display: flex;
        padding: 5% 18%;
    }

    .B {
        flex-direction: row-reverse;
    }

    h3 {
        font-size: 1.4rem;
        font-weight: bold;
    }

}

.projects {

    p {
        display: flex;
        margin-bottom: 4%;
        justify-content: center;
        margin-left: 40%;
        width: 20%;
    }
    
    .proj {
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: 18%;
    }

    .Villas {
        display: flex;
        justify-content: flex-end;
        margin-top: 5%;
        margin-left: 18%;
        margin-bottom: 6%;
        background-image: url('../img/home/home-villas-img.png');
        padding: 200px 0px 25px 0px;
        width: 65%;
        h3 {
            position: absolute;
            background-color: grey;
            padding: 20px;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .Out {
        background-image: url('../img/home/home-outskirts-img.png');
        padding: 200px 0px 25px 0px;
        width: 65%;
        margin-bottom: 6%;
        margin-left: 18%;
        h3 {
            position: absolute;
            background-color: grey;
            padding: 20px;
            font-size: 1.2rem;
        font-weight: bold;
        }
    }

    .block {
        display: flex;
        justify-content: flex-end;
        background-image: url('../img/home/home-the-blocks-img.png');
        padding: 200px 0px 25px 0px;
        width: 65%;
        margin-bottom: 6%;
        margin-left: 18%;
        h3 {
            position: absolute;
            background-color: grey;
            padding: 20px;
            font-size: 1.2rem;
        font-weight: bold;
        }
    }

}

.SJ {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.FD {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 9px;
}