.nav-bar {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    padding: 0% 5%;


    .nav{
        cursor: pointer;
        padding: 10px 0px;
    }

    .nav-hidden {
        display: none;
    }
}

h1 {
    font-size: 2rem;
    color: white;
}

.pages {
    position: absolute;
    display: flex;
    width: 50%;
    justify-content: center;
    margin-left: 25%;
    display: none;
}

a {
    padding: 10px;
    text-decoration: none;
}