.nav-bar {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    padding: 0% 30px;

    .nav{
        cursor: pointer;
    }

    .nav-hidden {
        display: none;
    }
}

h1 {
    font-size: 2rem;
    color: white;
}